.button {
    height: 2rem;
    padding: 0.5rem 1.75rem;
    background-color: #1a1a1a;
    border: none;
    color: #fff;
    border-radius: 0.25rem;
    transition: 0.5s;
    margin: 0 1rem;
    border: 1px solid #1a1a1a
}

.button:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

.passwordCopied {
    border: 1px solid aqua;
    color: aqua;
}